.avatar {
    border-radius: 50%;
    height: 150px;
    margin-top: 20px;
}

.homePage {
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 100vh;
    text-align: center;
}

.heading {
    display: block;
    align-items: center;
    text-align: center;
}

.socialMedia {
   display: flex;
   gap: 20px;
   justify-content: center;
   margin-bottom: 1em;
   flex-wrap: wrap;
}

.h1 {
    font-weight: 1000;
    font-size: xx-large;
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 0;
}

.btn {
    border: 0;
    height: 40px;
    width: 200px;
    transition: 0.3s;
}

.buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 1em;
    justify-content: center;
    flex-wrap: wrap;

}